*.exe
*.sdb
*.log
*.wbd
*.prj
*.cmd
*.xmsgs
*.gise
*.html
*.ncd
*.bld
*.ngc
*.ngr
*.lso
*.par
*.pcf
*.ptwr
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*.cmd_log
*.xbcd
*.xrpt
*.ngm
*.map
*.xml
*.xmsgs
*.jou
*.xml
*.ini
*.xreport
*.ngd
*.htm*
*.ptwx
*.mrp
*.pad
*.wdb
*_isim_beh.wdb
iseconfig/
isim/